# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.venv
env/
pip-log.txt
pip-delete-this-directory.txt

# Streamlit
.streamlit/secrets.toml

# Data (Exclude local database)
data/*.db
*.sqlite3
*.sqlite

# OS
.DS_Store
Thumbs.db
